/* Esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 2s linear;
}

.ex-1-square:hover{
    background-color: red;

}

/* Esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s linear;
}
.btn{
    padding: 0;
}

#btnControl2 {
    display: none;
}

#btnControl:checked + label > .ex-2-square {
    width: 400px;
}


/* Esercizio 3 */ 
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 0%;
    transition: all 3s linear;
}

.ex-3-square:hover {
    border-radius: 100%;
}


/* Esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: esercizio-4;
    animation-duration: 4s;
}

/* The animation code for exercise 4 */
@keyframes esercizio-4 {
    0%   {width: 100px; height: 100px;}
    100% {width: 0px;height: 0px;}
  }


/* Esercizio 5 */
.ex-5-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s linear;
}

.ex-5-square:hover {
    width: 250px;
    height: 250px;
}

#btnControl5 {
    display: none;
}

#btnControl5:checked + label > .ex-5-square {
    width: 50px;
    height: 50px;
}



/* Esercizi 6-7-8 */
.ex-6-img {
    width: 500px;
}

/* Esercizio 6 */
.ex-6-img:hover{
    filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img{
    width: 500px;
    transition: all 1s linear;
}

/* Esercizio 8 */
.ex-8-img{
    width: 500px;
    border-radius: 20px;
}

.ex-8-img:hover{
    filter: brightness(0.9) invert(0.9);
}

/* Esercizio 9 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 2s linear;
    filter: contrast(0.3) blur(0.7);
    object-fit: fill;
}

/* Esercizio 10 */
.ex-10-icon {
    font-size: 60px;
    animation-name: esercizio-10;
    animation-duration: 1s;
    animation-iteration-count: infinite;
   
}

@keyframes esercizio-10 {
    0%   {transform: rotate(0 );}
    100% {transform: rotate(360deg);}
  }


/* Esercizio 11 */
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    font-size: 60px;
    animation-name: esercizio-11;
    animation-duration: 4s;
}

@keyframes esercizio-11 {
    0%   {transform: rotate(0 );}
    75%   {transform: rotate(270deg );}
    100% {transform: rotate(0);}
  }



/* Eseercizio 12 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
